{% extends "home.html" %}
{% block title %} Home {% endblock %}
{% block content %}
  <section class="content">
    <h1>About the Project</h1>
    <p>This project demonstrates a real-time face mask detection system using Flask and Machine learning.</p>

    <h3>Team Members</h3>
    <ul>
      <li><strong>:</strong> Web Developer – Frontend & Flask Integration</li>
      <li><strong></strong> Model Developer – Data & Model Training</li>
      <li><strong>:</strong> Real-Time Engineer – System Testing & Optimization</li>
    </ul>
  </section>
{% endblock %}